

    <div class="menu">
        <div class="overlay-navigation">
            <nav>
              <ul>
                <li><a href="index.html" data-content="На главную">Home</a></li>
                <li><a href="about.html" data-content="Обо мне">About me</a></li>
                <li><a href="skills.html" data-content="Навыки и достижения">Skills</a></li>
                <li><a href="works.html" data-content="Примеры работ">My works</a></li>
                <li><a href="contacts.html" data-content="Мои контакты">Contacts</a></li>
              </ul>
            </nav>
        </div>
          
        <section class="home">
          
            <div class="open-overlay">
                <p class="bmenu">menu</p>
                <span class="bar-top"></span>
                <span class="bar-middle"></span>
                <span class="bar-bottom"></span>
            </div>
        </section>
        
    </div>
     
